.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  text-align: left;
  margin-left: 200px;
}

.form-control {
  padding: 5px;
}

.form-control input {
  margin: 8px;
  text-align: right;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

.image-container {
  display: flex;
  align-items: flex-start;
  flex-wrap: wrap;
  flex-direction: row
}

.image-container img {
  margin: 10px;
}
